<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarSpa.Module.Properties.Settings.CarSpaConnectionString"
            connectionString="Data Source=LAPTOP-C9TBLS6L\SQLEXPRESS;Initial Catalog=CarSpa;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>